@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./regular.ttf') format('truetype');
  font-weight: 'normal';
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./semi-bold.ttf') format('truetype');
  font-weight: 600;
}
