@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('./regular.ttf') format('truetype');
  font-weight: 'normal';
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('./regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('./medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('./semi-bold.ttf') format('truetype');
  font-weight: 600;
}
